.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line {
      background: steelblue; }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.open {
    visibility: visible; }
  .menu-brand, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #262626;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.open {
      transform: translate3d(0, 0, 0); }
  .menu-brand {
    background: #333;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-brand.open {
      transform: translate3d(0, 0, 0); }
    .menu-brand .portrait {
      width: 250px;
      height: 250px;
      background-image: url("../img/goke3.jpg");
      filter: gray(1);
      background-size: cover;
      border-radius: 50%;
      border: 3px solid steelblue; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.open {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current a {
      color: steelblue; }
    .menu .nav-item .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s ease-out; }
      .menu .nav-item .nav-link:hover {
        color: steelblue; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  body-sizing: border-box; }

body {
  background: #333;
  color: #fff;
  min-height: calc(100vh - 20px);
  margin: 0;
  font-family: "Segeo UI", Tahoma, Geneva, Verdana, sans-serif; }
  body#bg-img {
    background: url(../img/home.jpg);
    background-size: cover;
    background-attachment: fixed; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(51, 51, 51, 0.8); }
  body#contact-img {
    background: url(../img/contact.jpeg);
    background-size: cover;
    background-attachment: fixed; }
    body#contact-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(51, 51, 51, 0.8); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-h1,
  h2.lg-h1,
  h3.lg-h1 {
    font-size: 4rem; }
  h1.md-h2,
  h2.md-h2,
  h3.md-h2 {
    margin-bottom: 2rem;
    padding: 0.2rem 0.4rem;
    background: rgba(56, 56, 56, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: steelblue; }

main {
  padding: 4em;
  height: 100%; }
  main .icon {
    margin-top: 1rem; }
    main .icon a {
      padding: 0.4rem; }
      main .icon a:hover {
        color: steelblue;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main #scroll-text {
    color: steelblue;
    font-family: calibri;
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    margin-top: 1rem;
    background: rgba(56, 56, 56, 0.3);
    animation: keyframes 8s steps(500) infinite; }

@keyframes keyframes {
  from {
    width: 0; } }

.about-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "bioimage bio bio"
 "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    width: 200px;
    height: 300px;
    margin: auto;
    border-radius: 15%;
    border: none; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem;
    border-left: 2px solid steelblue;
    padding: 1rem;
    font-size: 1.3rem;
    text-align: justify; }
  .about-info .job-1 {
    grid-area: job1; }
    .about-info .job-1 h6 {
      letter-spacing: 0.2rem; }
  .about-info .job-2 {
    grid-area: job2; }
    .about-info .job-2 h6 {
      letter-spacing: 0.2rem; }
  .about-info .job-3 {
    grid-area: job3; }
    .about-info .job-3 h6 {
      letter-spacing: 0.2rem; }
  .about-info .job {
    background: #404040;
    padding: 0.5rem;
    border-bottom: 2px solid steelblue;
    margin-top: 2rem;
    font-weight: 200; }
  .about-info .span {
    float: right;
    color: steelblue;
    font-weight: 800; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    height: 150px;
    border: 3px solid #fff; }
    .projects img:hover {
      border-color: steelblue;
      opacity: 0.5;
      transition: all 0.5s ease-out; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  border-radius: 15px;
  opacity: 0.6; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: steelblue;
    color: #000;
    opacity: 1; }

.btn-dark {
  background: black;
  width: 22%;
  font-size: 1.2rem;
  color: steelblue;
  margin: 10px auto;
  text-decoration: underline; }
  .btn-dark:hover {
    color: #fff;
    border-radius: 20px; }

.btn-light {
  background: #4d4d4d;
  color: #fff;
  font-weight: 500; }
  .btn-light span {
    color: lightblue;
    font-weight: 600; }
  .btn-light i {
    color: steelblue; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0 2rem 0; }
  .boxes div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: steelblue;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #1a1a1a;
  color: #fff;
  height: 20px;
  margin: 0; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-h1 {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;
    transition: all 0.5s ease-out; }
    ul.menu-nav.open,
    div.menu-brand.open {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px; }
  .menu-brand {
    height: 25vh;
    transform: translate3d(-100%, 0, 0); }
    .menu-brand .portrait {
      background: url("../img/goke3.jpg");
      width: 100px;
      height: 100px;
      background-size: cover; }
  .about-info {
    grid-template-areas: "bioimage"
 "bio"
 "job1"
 "job2"
 "job3";
    grid-template-columns: 1fr; }	
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main #home.lg-h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; } }
